# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [ ]:
from urllib.request import urlretrieve
## need to have this be part of the deliverable data package ##
URL = 'https://www.energy.ca.gov/filebrowser/download/6311?fid=6311#block-symsoft-page-title'

In [ ]:
urlretrieve(URL, 'vehicle_data/california_vehicle.xlsx')

In [60]:
import pandas as pd
df_multiple_sheets = pd.read_excel('california_vehicle.xlsx',sheet_name=["County", "ZIP"])

In [61]:
county_df = df_multiple_sheets['County']
zipcode_df = df_multiple_sheets['ZIP']

In [66]:
#%matplotlib inline
county_df.head()

,Data Year,County,Dashboard Fuel Type Group,Fuel Type,Make,Model,Number of Vehicles
0,2010,Alameda,Battery Electric (BEV),Battery Electric (BEV),Ford,Ranger,3
1,2010,Alameda,Battery Electric (BEV),Battery Electric (BEV),Tesla,Roadster,17
2,2010,Alameda,Diesel,Diesel,NaN,NaN,10939
3,2010,Alameda,Gasoline,Flex Fuel,NaN,NaN,10974
4,2010,Alameda,Gasoline,Gasoline,NaN,NaN,840577

In [65]:
zipcode_df.head()

,Data Year,Dashboard Fuel Type Group,Fuel Type,ZIP,Number of Vehicles
0,2010,Battery Electric (BEV),Battery Electric (BEV),99999,12
1,2010,Battery Electric (BEV),Battery Electric (BEV),95831,1
2,2010,Battery Electric (BEV),Battery Electric (BEV),95817,1
3,2010,Battery Electric (BEV),Battery Electric (BEV),95765,1
4,2010,Battery Electric (BEV),Battery Electric (BEV),95747,1