In [20]:
#import 
import pandas as pd

In [23]:
#testing things out with ds 2018 first
#import data 
csv_2018 = '/Users/clarissaclark/SIADS_Milestone_1/ad_viz_plotval_data2018.csv'
df_2018 = pd.read_csv(csv_2018)
df_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'Units', 'Daily AQI Value', 'Local Site Name', 'Daily Obs Count',
       'Percent Complete', 'AQS Parameter Code', 'AQS Parameter Description',
       'Method Code', 'Method Description', 'CBSA Code', 'CBSA Name',
       'State FIPS Code', 'State', 'County FIPS Code', 'County',
       'Site Latitude', 'Site Longitude'],
      dtype='object')

In [24]:
#selecting columns 
df_2018 = df_2018[['Date', 'Daily Mean PM2.5 Concentration','Units', 'Site ID', 'County']]
df_2018
#found out there are multiple site id for counties

             Date  Daily Mean PM2.5 Concentration     Units   Site ID   County
0      01/01/2018                            28.1  ug/m3 LC  60010007  Alameda
1      01/02/2018                            24.5  ug/m3 LC  60010007  Alameda
2      01/03/2018                            39.0  ug/m3 LC  60010007  Alameda
3      01/04/2018                            20.9  ug/m3 LC  60010007  Alameda
4      01/05/2018                             5.5  ug/m3 LC  60010007  Alameda
...           ...                             ...       ...       ...      ...
52828  12/04/2018                             8.6  ug/m3 LC  61131003     Yolo
52829  12/10/2018                            14.3  ug/m3 LC  61131003     Yolo
52830  12/16/2018                            20.9  ug/m3 LC  61131003     Yolo
52831  12/22/2018                             3.8  ug/m3 LC  61131003     Yolo
52832  12/28/2018                             1.0  ug/m3 LC  61131003     Yolo

[52833 rows x 5 columns]

In [30]:
#number of site id/county 
unique_sites_per_county = df_2018.groupby('County')['Site ID'].nunique().reset_index()
unique_sites_per_county.rename(columns={'Site ID': 'Number of Site IDs/County'}, inplace=True) 
unique_sites_per_county

             County  Number of Site IDs/County
0           Alameda                          6
1             Butte                          3
2         Calaveras                          1
3            Colusa                          2
4      Contra Costa                          2
5         Del Norte                          2
6         El Dorado                          2
7            Fresno                          7
8             Glenn                          1
9          Humboldt                          2
10         Imperial                          3
11             Inyo                          2
12             Kern                          8
13            Kings                          2
14             Lake                          1
15      Los Angeles                         13
16           Madera                          1
17            Marin                          2
18         Mariposa                          2
19        Mendocino                          2
20           Merced                          2
21             Mono                          3
22         Monterey                          3
23             Napa                          2
24           Nevada                          2
25           Orange                          2
26           Placer                          2
27           Plumas                          2
28        Riverside                         11
29       Sacramento                          5
30       San Benito                          2
31   San Bernardino                          9
32        San Diego                          8
33    San Francisco                          1
34      San Joaquin                          3
35  San Luis Obispo                          4
36        San Mateo                          1
37    Santa Barbara                          5
38      Santa Clara                          3
39       Santa Cruz                          2
40           Shasta                          2
41         Siskiyou                          2
42           Solano                          1
43           Sonoma                          1
44       Stanislaus                          2
45           Sutter                          1
46           Tehama                          1
47          Trinity                          2
48           Tulare                          3
49          Ventura                          5
50             Yolo                          2

In [33]:
#converting df_2018['Date'] to datetime 
df_2018['Date'] = pd.to_datetime(df_2018['Date'])
#taking county average of pm 2.5 emissions  
avg_pm_value =df_2018.groupby(['County'])['Daily Mean PM2.5 Concentration'].mean().reset_index()
avg_pm_value.rename(columns={'Daily Mean PM2.5 Concentration': '2018 Average PM 2.5/County'}, inplace=True)

avg_df_2018 = unique_sites_per_county.merge(avg_pm_value, on='County')
avg_df_2018

             County  Number of Site IDs/County  2018 Average PM 2.5/County
0           Alameda                          6                   12.913035
1             Butte                          3                   14.488928
2         Calaveras                          1                   14.665546
3            Colusa                          2                   11.266090
4      Contra Costa                          2                   13.120255
5         Del Norte                          2                    6.006075
6         El Dorado                          2                    4.518565
7            Fresno                          7                   13.152119
8             Glenn                          1                   10.081034
9          Humboldt                          2                    7.590645
10         Imperial                          3                   12.108333
11             Inyo                          2                    6.915169
12             Kern                          8                   11.643714
13            Kings                          2                   17.518766
14             Lake                          1                    9.154237
15      Los Angeles                         13                   12.266653
16           Madera                          1                   14.116043
17            Marin                          2                   10.643469
18         Mariposa                          2                   18.115811
19        Mendocino                          2                   10.506501
20           Merced                          2                   14.990397
21             Mono                          3                   10.266457
22         Monterey                          3                    6.680915
23             Napa                          2                   11.413881
24           Nevada                          2                    6.388477
25           Orange                          2                   11.331413
26           Placer                          2                   10.025000
27           Plumas                          2                   11.940842
28        Riverside                         11                   10.242809
29       Sacramento                          5                   12.236965
30       San Benito                          2                    6.618337
31   San Bernardino                          9                   11.269345
32        San Diego                          8                   10.194695
33    San Francisco                          1                   11.676487
34      San Joaquin                          3                   14.722066
35  San Luis Obispo                          4                    7.107266
36        San Mateo                          1                   10.543099
37    Santa Barbara                          5                    7.305856
38      Santa Clara                          3                   10.921904
39       Santa Cruz                          2                    7.357709
40           Shasta                          2                    9.561677
41         Siskiyou                          2                   17.123734
42           Solano                          1                   12.437538
43           Sonoma                          1                    8.400000
44       Stanislaus                          2                   15.836625
45           Sutter                          1                   14.446821
46           Tehama                          1                   10.581267
47          Trinity                          2                   12.701907
48           Tulare                          3                   16.248419
49          Ventura                          5                    9.060714
50             Yolo                          2                   11.439303