In [1]:
# import
import pandas as pd

In [2]:
# import files 
main_df = pd.read_csv('/Users/clarissaclark/SIADS_Milestone_1/PM2.5_Vehicles_Population.csv')
df_pop = pd.read_csv('/Users/clarissaclark/SIADS_Milestone_1/California_Population.csv')

In [9]:
main_df['Population Z Score'] = main_df['Population Z Score'].round(2)

In [10]:
# a study of alameda....you two don't have to follow this if you don't want...

alameda = main_df[main_df['County'] == 'Alameda']

In [19]:
# total regestered car users/population 
def create_comparison(county):
    df = main_df[main_df['County'] == county]
    df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
    df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
    df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
    df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)
    return df[['Population Z Score','Total Cars/Population', 'EV/Total Cars', 'Gas/Total Cars']] 


# ev cars/population

In [20]:
# so as more people got cars, more ev were regestered. 
# what is the relationship between population growth and ev adaptation?
## it seems to be positive, direct relationship 
## so as more population increases, ev car adaption also increases. i wonder if this is the same across counties?

In [21]:
san_diego = create_comparison('San Diego')
san_diego

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
32                 0.34                   0.62           0.00            1.00
84                 0.35                   0.61           0.00            1.00
136                0.35                   0.61           0.00            1.00
188                0.36                   0.63           0.00            1.00
240                0.36                   0.64           0.00            1.00
292                0.37                   0.65           0.01            0.99
344                0.37                   0.67           0.01            0.99
395                0.38                   0.75           0.01            0.99
446                0.38                   0.75           0.01            0.99
497                0.38                   0.76           0.02            0.98
548                0.38                   0.75           0.02            0.98
599                0.38                   0.75           0.02            0.98
649                0.38                   0.78           0.04            0.96
699                0.38                   0.78           0.05            0.95
747                0.38                    NaN            NaN             NaN

In [22]:
los_angeles = create_comparison('Los Angeles')
los_angeles

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
15                 1.64                   0.56           0.00            1.00
67                 1.65                   0.56           0.00            1.00
119                1.67                   0.56           0.00            1.00
171                1.68                   0.57           0.00            1.00
223                1.68                   0.58           0.00            1.00
275                1.69                   0.59           0.01            0.99
327                1.69                   0.62           0.01            0.99
378                1.70                   0.69           0.01            0.99
429                1.70                   0.69           0.02            0.98
480                1.69                   0.69           0.02            0.98
531                1.68                   0.68           0.02            0.98
582                1.68                   0.68           0.02            0.98
633                1.65                   0.70           0.04            0.96
683                1.64                   0.70           0.06            0.94
732                1.64                    NaN            NaN             NaN

In [23]:
orange = create_comparison('Orange')
orange

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_20807/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
25                 0.32                   0.62           0.00            1.00
77                 0.33                   0.62           0.00            1.00
129                0.34                   0.61           0.00            1.00
181                0.34                   0.63           0.00            1.00
233                0.35                   0.64           0.01            0.99
285                0.35                   0.65           0.01            0.99
337                0.35                   0.67           0.01            0.99
388                0.36                   0.75           0.02            0.98
439                0.36                   0.75           0.02            0.98
490                0.36                   0.76           0.03            0.97
541                0.36                   0.75           0.03            0.97
592                0.36                   0.75           0.03            0.97
642                0.35                   0.77           0.06            0.94
692                0.35                   0.78           0.07            0.93
740                0.35                    NaN            NaN             NaN