In [1]:
# import
import pandas as pd

In [2]:
# import files 
main_df = pd.read_csv('/Users/clarissaclark/SIADS_Milestone_1/PM2.5_Vehicles_Population.csv')
df_pop = pd.read_csv('/Users/clarissaclark/SIADS_Milestone_1/California_Population.csv')

In [3]:
main_df['Population Z Score'] = main_df['Population Z Score'].round(2)

In [4]:
# a study of alameda....you two don't have to follow this if you don't want...

alameda = main_df[main_df['County'] == 'Alameda']

In [5]:
# total regestered car users/population 
def create_comparison(county):
    df = main_df[main_df['County'] == county]
    df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
    df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
    df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
    df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)
    return df[['Population Z Score','Total Cars/Population', 'EV/Total Cars', 'Gas/Total Cars']] 


# ev cars/population

In [6]:
# so as more people got cars, more ev were regestered. 
# what is the relationship between population growth and ev adaptation?
## it seems to be positive, direct relationship 
## so as more population increases, ev car adaption also increases. i wonder if this is the same across counties?

In [7]:
san_diego = create_comparison('San Diego')
san_diego

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
32                 0.34                   0.62           0.00            1.00
84                 0.35                   0.61           0.00            1.00
136                0.35                   0.61           0.00            1.00
188                0.36                   0.63           0.00            1.00
240                0.36                   0.64           0.00            1.00
292                0.37                   0.65           0.01            0.99
344                0.37                   0.67           0.01            0.99
395                0.38                   0.75           0.01            0.99
446                0.38                   0.75           0.01            0.99
497                0.38                   0.76           0.02            0.98
548                0.38                   0.75           0.02            0.98
599                0.38                   0.75           0.02            0.98
649                0.38                   0.78           0.04            0.96
699                0.38                   0.78           0.05            0.95
747                0.38                    NaN            NaN             NaN

In [8]:
los_angeles = create_comparison('Los Angeles')
los_angeles

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
15                 1.64                   0.56           0.00            1.00
67                 1.65                   0.56           0.00            1.00
119                1.67                   0.56           0.00            1.00
171                1.68                   0.57           0.00            1.00
223                1.68                   0.58           0.00            1.00
275                1.69                   0.59           0.01            0.99
327                1.69                   0.62           0.01            0.99
378                1.70                   0.69           0.01            0.99
429                1.70                   0.69           0.02            0.98
480                1.69                   0.69           0.02            0.98
531                1.68                   0.68           0.02            0.98
582                1.68                   0.68           0.02            0.98
633                1.65                   0.70           0.04            0.96
683                1.64                   0.70           0.06            0.94
732                1.64                    NaN            NaN             NaN

In [9]:
orange = create_comparison('Orange')
orange

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
25                 0.32                   0.62           0.00            1.00
77                 0.33                   0.62           0.00            1.00
129                0.34                   0.61           0.00            1.00
181                0.34                   0.63           0.00            1.00
233                0.35                   0.64           0.01            0.99
285                0.35                   0.65           0.01            0.99
337                0.35                   0.67           0.01            0.99
388                0.36                   0.75           0.02            0.98
439                0.36                   0.75           0.02            0.98
490                0.36                   0.76           0.03            0.97
541                0.36                   0.75           0.03            0.97
592                0.36                   0.75           0.03            0.97
642                0.35                   0.77           0.06            0.94
692                0.35                   0.78           0.07            0.93
740                0.35                    NaN            NaN             NaN

In [10]:
san_fran =  create_comparison('San Francisco')
san_fran

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
33                -0.10                   0.44           0.00            1.00
85                -0.10                   0.43           0.00            1.00
137               -0.10                   0.43           0.00            1.00
189               -0.10                   0.44           0.00            1.00
241               -0.09                   0.44           0.01            0.99
293               -0.09                   0.44           0.01            0.99
345               -0.09                   0.45           0.01            0.99
396               -0.09                   0.49           0.02            0.98
447               -0.09                   0.49           0.03            0.97
498               -0.09                   0.48           0.03            0.97
549               -0.09                   0.47           0.04            0.96
600               -0.09                   0.47           0.04            0.96
650               -0.10                   0.49           0.07            0.93
700               -0.10                   0.49           0.09            0.91
748               -0.10                    NaN            NaN             NaN

In [11]:
mono = create_comparison('Mono')
mono

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_42864/3700666974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
21                -0.26                   0.67           0.00            1.00
73                -0.26                   0.66           0.00            1.00
125               -0.26                   0.66           0.00            1.00
177               -0.26                   0.70           0.00            1.00
229               -0.26                   0.71           0.00            1.00
281               -0.26                   0.71           0.00            1.00
333               -0.26                   0.77           0.00            1.00
384               -0.26                   0.86           0.00            1.00
435               -0.26                   0.88           0.00            1.00
486               -0.26                   0.90           0.00            1.00
537               -0.26                   0.90           0.01            0.99
588               -0.26                   0.90           0.01            0.99
639               -0.26                   0.91           0.01            0.99
689               -0.26                   0.91           0.02            0.98
737               -0.26                    NaN            NaN             NaN

In [44]:
# is this crazy?
df = pd.read_csv('/Users/clarissaclark/Desktop/isthiscrazy2022.csv')
df = df.loc[[28]]

In [50]:
# extract unique county names
county_names = [col.split("!!")[0] for col in df.columns if "California" in col]
county_names = list(set(county_names))

# extract county total and margin of error from main dataset
county_total = [f"{county}!!Total!!Estimate" for county in county_names]
county_margin_of_error = [f"{county}!!Total!!Margin of Error" for county in county_names]

# making df of those
county_total = df.loc[:, county_total]
county_margin_of_error = df.loc[:, county_margin_of_error]

# creating county total population estimate df 
ct_df =county_total.transpose()
ct_df = ct_df.reset_index() 
ct_df.columns = ['County' , 'Total Population Estimate, >21']
ct_df['County'] = ct_df['County'].str.split(' County').str[0]
ct_df = ct_df.sort_values(by='County', ascending=True).reset_index(drop=True)

# creating county margin of error 
me_df = county_margin_of_error.transpose()
me_df = me_df.reset_index() 
me_df.columns = ['County' , 'Total Margin of Error, >21']
me_df['County'] = me_df['County'].str.split(' County').str[0]
me_df = me_df.sort_values(by='County', ascending=True).reset_index(drop=True) 

# merging on county 
ct_me_df22 = pd.merge(ct_df, me_df, how='inner', on = ['County'])
ct_me_df22['Data Year'] = 2022
ct_me_df22

,County,"Total Population Estimate, >21","Total Margin of Error, >21",Data Year
0,Alameda,"1,270,381","±1,184",2022
1,Alpine,"1,108",±165,2022
2,Amador,"33,126",±289,2022
3,Butte,"157,922",±778,2022
4,Calaveras,"36,839",±276,2022
5,Colusa,"15,240",±152,2022
6,Contra Costa,"863,447",±971,2022
7,Del Norte,"21,024",±202,2022
8,El Dorado,"148,083",±450,2022
9,Fresno,"681,498",±965,2022
10,Glenn,"19,652",±272,2022
11,Humboldt,"103,363",±537,2022
12,Imperial,"120,477",±514,2022
13,Inyo,"14,503",±184,2022
14,Kern,"606,433",±892,2022
15,Kings,"104,565",±458,2022
16,Lake,"51,589",±261,2022
17,Lassen,"25,388",±192,2022
18,Los Angeles,"7,455,744","±2,414",2022
19,Madera,"107,270",±477,2022
20,Marin,"201,009",±484,2022
21,Mariposa,"13,911",±180,2022
22,Mendocino,"69,062",±286,2022
23,Merced,"184,420",±670,2022
24,Modoc,"6,775",±129,2022
25,Mono,"10,362",±280,2022
26,Monterey,"304,052",±662,2022
27,Napa,"104,755",±327,2022
28,Nevada,"82,189",±305,2022
29,Orange,"2,364,922","±1,700",2022
30,Placer,"304,141",±517,2022
31,Plumas,"15,806",±157,2022
32,Riverside,"1,724,604","±1,482",2022
33,Sacramento,"1,157,469","±1,022",2022
34,San Benito,"45,571",±249,2022
35,San Bernardino,"1,519,829","±1,617",2022
36,San Diego,"2,450,295","±1,883",2022
37,San Francisco,"717,653",±598,2022
38,San Joaquin,"537,612",±744,2022
39,San Luis Obispo,"211,147",±901,2022
40,San Mateo,"581,396",±719,2022
41,Santa Barbara,"313,937","±1,083",2022
42,Santa Clara,"1,439,457","±1,042",2022
43,Santa Cruz,"199,855",±725,2022
44,Shasta,"136,969",±296,2022
45,Sierra,"2,455",±162,2022
46,Siskiyou,"33,523",±178,2022
47,Solano,"336,338",±518,2022
48,Sonoma,"376,840",±589,2022
49,Stanislaus,"380,499",±750,2022
50,Sutter,"69,857",±297,2022
51,Tehama,"47,938",±266,2022
52,Trinity,"12,909",±137,2022
53,Tulare,"308,219",±638,2022
54,Tuolumne,"44,006",±361,2022
55,Ventura,"619,665",±870,2022
56,Yolo,"151,121","±1,017",2022
57,Yuba,"56,509",±254,2022

In [53]:
testing_df2022 = pd.merge(main_df, ct_me_df22, how='inner', on = ['Data Year', 'County'])
testing_df2022

,Data Year,County,Average PM 2.5/County,Number of Site IDs/County,Number of Gas Cars,Number of EV,Population,Population Z Score,"Total Population Estimate, >21","Total Margin of Error, >21"
0,2022,Alameda,8.198048,5.0,1057501.0,72557.0,1643683.0,0.06,"1,270,381","±1,184"
1,2022,Butte,6.188046,3.0,151828.0,1732.0,206184.0,-0.22,"157,922",±778
2,2022,Calaveras,6.037746,1.0,51920.0,515.0,45021.0,-0.25,"36,839",±276
3,2022,Colusa,7.607731,2.0,19767.0,106.0,21722.0,-0.25,"15,240",±152
4,2022,Contra Costa,8.250306,2.0,835523.0,44133.0,1149841.0,-0.04,"863,447",±971
5,2022,Del Norte,4.969651,2.0,20045.0,128.0,26982.0,-0.25,"21,024",±202
6,2022,El Dorado,4.067105,2.0,162883.0,4869.0,189294.0,-0.22,"148,083",±450
7,2022,Fresno,10.188664,8.0,688871.0,10390.0,1010177.0,-0.06,"681,498",±965
8,2022,Glenn,5.339316,1.0,24773.0,130.0,28777.0,-0.25,"19,652",±272
9,2022,Humboldt,6.757759,1.0,106882.0,2126.0,134167.0,-0.23,"103,363",±537
10,2022,Imperial,9.551077,4.0,166477.0,770.0,180394.0,-0.22,"120,477",±514
11,2022,Inyo,5.569743,5.0,19560.0,176.0,18916.0,-0.26,"14,503",±184
12,2022,Kern,9.882255,7.0,602843.0,6880.0,908186.0,-0.08,"606,433",±892
13,2022,Kings,14.402358,2.0,95204.0,886.0,151654.0,-0.23,"104,565",±458
14,2022,Lake,4.257377,1.0,63526.0,600.0,67597.0,-0.25,"51,589",±261
15,2022,Los Angeles,10.971637,15.0,6650471.0,282343.0,9861493.0,1.65,"7,455,744","±2,414"
16,2022,Madera,10.386389,1.0,113641.0,1241.0,157040.0,-0.23,"107,270",±477
17,2022,Marin,6.544538,2.0,191793.0,15449.0,255459.0,-0.21,"201,009",±484
18,2022,Mariposa,9.468815,2.0,17290.0,147.0,16988.0,-0.26,"13,911",±180
19,2022,Mendocino,10.138374,2.0,81800.0,1346.0,90227.0,-0.24,"69,062",±286
20,2022,Merced,10.061335,2.0,200238.0,2086.0,284038.0,-0.20,"184,420",±670
21,2022,Mono,4.429237,3.0,11671.0,144.0,12987.0,-0.26,"10,362",±280
22,2022,Monterey,4.752279,3.0,319103.0,6379.0,436033.0,-0.17,"304,052",±662
23,2022,Nevada,7.594823,2.0,84769.0,1946.0,101080.0,-0.24,"82,189",±305
24,2022,Orange,9.246932,2.0,2299018.0,134291.0,3158071.0,0.35,"2,364,922","±1,700"
25,2022,Placer,7.277508,5.0,328962.0,12350.0,407539.0,-0.18,"304,141",±517
26,2022,Plumas,11.235484,3.0,18889.0,117.0,19254.0,-0.26,"15,806",±157
27,2022,Riverside,9.126721,11.0,1765291.0,47681.0,2427832.0,0.21,"1,724,604","±1,482"
28,2022,Sacramento,8.247535,5.0,1107136.0,32416.0,1572254.0,0.05,"1,157,469","±1,022"
29,2022,San Benito,4.708159,2.0,53803.0,1485.0,65642.0,-0.25,"45,571",±249
30,2022,San Bernardino,9.419042,9.0,1568171.0,36094.0,2179845.0,0.16,"1,519,829","±1,617"
31,2022,San Diego,8.297673,10.0,2446883.0,95024.0,3278730.0,0.38,"2,450,295","±1,883"
32,2022,San Francisco,6.779224,1.0,386911.0,28011.0,840575.0,-0.10,"717,653",±598
33,2022,San Joaquin,7.902461,3.0,556150.0,12961.0,782163.0,-0.11,"537,612",±744
34,2022,San Luis Obispo,7.103153,4.0,222920.0,6929.0,279439.0,-0.20,"211,147",±901
35,2022,San Mateo,6.795787,1.0,567346.0,43165.0,742051.0,-0.12,"581,396",±719
36,2022,Santa Barbara,6.063512,5.0,325288.0,8983.0,443074.0,-0.17,"313,937","±1,083"
37,2022,Santa Clara,8.777092,3.0,1289536.0,108243.0,1895752.0,0.11,"1,439,457","±1,042"
38,2022,Santa Cruz,5.227504,2.0,215275.0,8169.0,264495.0,-0.21,"199,855",±725
39,2022,Shasta,5.666984,2.0,132514.0,1516.0,180206.0,-0.22,"136,969",±296
40,2022,Siskiyou,7.597170,2.0,44395.0,241.0,43571.0,-0.25,"33,523",±178
41,2022,Solano,7.895000,1.0,339309.0,9315.0,447027.0,-0.17,"336,338",±518
42,2022,Sonoma,6.376149,1.0,397389.0,15055.0,479654.0,-0.17,"376,840",±589
43,2022,Stanislaus,12.124430,2.0,403896.0,5345.0,548215.0,-0.15,"380,499",±750
44,2022,Sutter,10.035253,1.0,74337.0,885.0,99153.0,-0.24,"69,857",±297
45,2022,Tehama,5.871182,1.0,56998.0,288.0,64942.0,-0.25,"47,938",±266
46,2022,Trinity,10.727612,2.0,11910.0,63.0,15971.0,-0.26,"12,909",±137
47,2022,Tulare,10.411529,4.0,330357.0,2826.0,474624.0,-0.17,"308,219",±638
48,2022,Ventura,6.845493,5.0,658712.0,23713.0,831531.0,-0.10,"619,665",±870
49,2022,Yolo,5.437008,2.0,149982.0,5077.0,220176.0,-0.22,"151,121","±1,017"