In [1]:
import os

# import
import pandas as pd

In [2]:
# import files 
main_df = pd.read_csv('../PM2.5_Vehicles_Population.csv')
df_pop = pd.read_csv('../California_Population.csv')

In [3]:
main_df
# main_df['Population Z Score'] = main_df['Population Z Score'].round(2)

,County,Data Year,Population,Population Z Score,Number of Gas Cars,Number of EV,Population_y,Z Score_y
0,Alameda,2010,1510271,0.033519,885402,20,1510271,0.033519
1,Amador,2010,38091,-0.251576,30480,1,38091,-0.251576
2,Butte,2010,220000,-0.216348,133169,0,220000,-0.216348
3,Calaveras,2010,45578,-0.250126,39636,0,45578,-0.250126
4,Colusa,2010,21419,-0.254805,14610,0,21419,-0.254805
...,...,...,...,...,...,...,...,...
793,Tulare,2023,474680,-0.167028,331744,3837,474680,-0.167028
794,Tuolumne,2023,54626,-0.248374,54369,698,54626,-0.248374
795,Ventura,2023,825960,-0.099001,651851,31980,825960,-0.099001
796,Yolo,2023,220454,-0.216260,152560,6757,220454,-0.216260
797,Yuba,2023,82814,-0.242915,57567,961,82814,-0.242915

In [4]:
# total regestered car users/population 
def create_comparison(county):
    df = main_df[main_df['County'] == county]
    df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
    df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
    df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
    df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)
    return df[['Population Z Score','Total Cars/Population', 'EV/Total Cars', 'Gas/Total Cars']]

In [5]:
# so as more people got cars, more ev were regestered. 
# what is the relationship between population growth and ev adaptation?
## it seems to be positive, direct relationship 
## so as more population increases, ev car adaption also increases. i wonder if this is the same across counties?

In [6]:
san_diego = create_comparison('San Diego')
san_diego

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

     Population Z Score  Total Cars/Population  EV/Total Cars  Gas/Total Cars
35             0.340471                   0.62           0.00            1.00
92             0.346217                   0.61           0.00            1.00
149            0.352168                   0.61           0.00            1.00
206            0.358870                   0.63           0.00            1.00
263            0.364561                   0.64           0.00            1.00
320            0.370074                   0.65           0.01            0.99
377            0.372945                   0.67           0.01            0.99
434            0.376209                   0.75           0.01            0.99
491            0.378975                   0.75           0.01            0.99
548            0.380665                   0.76           0.02            0.98
605            0.379597                   0.75           0.02            0.98
662            0.377569                   0.79           0.03            0.97
719            0.375991                   0.78           0.04            0.96
776            0.378255                   0.78           0.05            0.95

In [7]:
los_angeles = create_comparison('Los Angeles')
# los_angeles

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

In [8]:
orange = create_comparison('Orange')
# orange

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

In [9]:
san_fran =  create_comparison('San Francisco')
# san_fran

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

In [10]:
mono = create_comparison('Mono')
# mono

/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars'] = df['Number of Gas Cars'] + df['Number of EV']
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Total Cars/Population'] = (df['Total Cars'] / df['Population']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'EV/Total Cars'] = (df['Number of EV'] / df['Total Cars']).round(2)
/var/folders/zc/cqjcs2293rz1ymjq5gj5xxb00000gn/T/ipykernel_45287/593708073.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Gas/Total Cars'] = (df['Number of Gas Cars'] / df['Total Cars']).round(2)

In [11]:
# is this crazy?
# function takes dataset from online and turns it into a merge-able df for main_df

In [12]:
def aged_population(dataset, datayear):
    # load files 
    df = pd.read_csv(dataset)
    df = df.loc[[28]]
    # extract unique county names
    county_names = [col.split("!!")[0] for col in df.columns if "California" in col]
    county_names = list(set(county_names))
    # extract county total and margin of error from main dataset
    county_total = [f"{county}!!Total!!Estimate" for county in county_names]
    county_margin_of_error = [f"{county}!!Total!!Margin of Error" for county in county_names]
    # making df of those
    county_total = df.loc[:, county_total]
    county_margin_of_error = df.loc[:, county_margin_of_error]
    # creating county total population estimate df 
    ct_df =county_total.transpose()
    ct_df = ct_df.reset_index() 
    ct_df.columns = ['County' , 'Total Population Estimate, >21']
    ct_df['County'] = ct_df['County'].str.split(' County').str[0]
    ct_df = ct_df.sort_values(by='County', ascending=True).reset_index(drop=True)
    
    # creating county margin of error 
    me_df = county_margin_of_error.transpose()
    me_df = me_df.reset_index() 
    me_df.columns = ['County' , 'Total Margin of Error, >21']
    me_df['County'] = me_df['County'].str.split(' County').str[0]
    me_df = me_df.sort_values(by='County', ascending=True).reset_index(drop=True) 
    
    # merging on county 
    ct_me_df = pd.merge(ct_df, me_df, how='inner', on = ['County'])
    ct_me_df['Data Year'] = datayear
    return ct_me_df

In [13]:
testing = aged_population('/Users/clarissaclark/Desktop/isthiscrazy2022.csv', 2022)

testing

,County,"Total Population Estimate, >21","Total Margin of Error, >21",Data Year
0,Alameda,"1,270,381","Â±1,184",2022
1,Alpine,"1,108",Â±165,2022
2,Amador,"33,126",Â±289,2022
3,Butte,"157,922",Â±778,2022
4,Calaveras,"36,839",Â±276,2022
5,Colusa,"15,240",Â±152,2022
6,Contra Costa,"863,447",Â±971,2022
7,Del Norte,"21,024",Â±202,2022
8,El Dorado,"148,083",Â±450,2022
9,Fresno,"681,498",Â±965,2022
10,Glenn,"19,652",Â±272,2022
11,Humboldt,"103,363",Â±537,2022
12,Imperial,"120,477",Â±514,2022
13,Inyo,"14,503",Â±184,2022
14,Kern,"606,433",Â±892,2022
15,Kings,"104,565",Â±458,2022
16,Lake,"51,589",Â±261,2022
17,Lassen,"25,388",Â±192,2022
18,Los Angeles,"7,455,744","Â±2,414",2022
19,Madera,"107,270",Â±477,2022
20,Marin,"201,009",Â±484,2022
21,Mariposa,"13,911",Â±180,2022
22,Mendocino,"69,062",Â±286,2022
23,Merced,"184,420",Â±670,2022
24,Modoc,"6,775",Â±129,2022
25,Mono,"10,362",Â±280,2022
26,Monterey,"304,052",Â±662,2022
27,Napa,"104,755",Â±327,2022
28,Nevada,"82,189",Â±305,2022
29,Orange,"2,364,922","Â±1,700",2022
30,Placer,"304,141",Â±517,2022
31,Plumas,"15,806",Â±157,2022
32,Riverside,"1,724,604","Â±1,482",2022
33,Sacramento,"1,157,469","Â±1,022",2022
34,San Benito,"45,571",Â±249,2022
35,San Bernardino,"1,519,829","Â±1,617",2022
36,San Diego,"2,450,295","Â±1,883",2022
37,San Francisco,"717,653",Â±598,2022
38,San Joaquin,"537,612",Â±744,2022
39,San Luis Obispo,"211,147",Â±901,2022
40,San Mateo,"581,396",Â±719,2022
41,Santa Barbara,"313,937","Â±1,083",2022
42,Santa Clara,"1,439,457","Â±1,042",2022
43,Santa Cruz,"199,855",Â±725,2022
44,Shasta,"136,969",Â±296,2022
45,Sierra,"2,455",Â±162,2022
46,Siskiyou,"33,523",Â±178,2022
47,Solano,"336,338",Â±518,2022
48,Sonoma,"376,840",Â±589,2022
49,Stanislaus,"380,499",Â±750,2022
50,Sutter,"69,857",Â±297,2022
51,Tehama,"47,938",Â±266,2022
52,Trinity,"12,909",Â±137,2022
53,Tulare,"308,219",Â±638,2022
54,Tuolumne,"44,006",Â±361,2022
55,Ventura,"619,665",Â±870,2022
56,Yolo,"151,121","Â±1,017",2022
57,Yuba,"56,509",Â±254,2022

In [14]:
# merging year 2022
aged_pop_df = pd.merge(main_df, testing, how='inner', on = ['Data Year', 'County'])
aged_pop_df

,County,Data Year,Population,Population Z Score,Number of Gas Cars,Number of EV,Population_y,Z Score_y,"Total Population Estimate, >21","Total Margin of Error, >21"
0,Alameda,2022,1643683,0.059355,1057501,72557,1643683,0.059355,"1,270,381","Â±1,184"
1,Amador,2022,40010,-0.251204,40697,413,40010,-0.251204,"33,126",Â±289
2,Butte,2022,206184,-0.219024,151828,1732,206184,-0.219024,"157,922",Â±778
3,Calaveras,2022,45021,-0.250234,51920,515,45021,-0.250234,"36,839",Â±276
4,Colusa,2022,21722,-0.254746,19767,106,21722,-0.254746,"15,240",Â±152
5,Contra Costa,2022,1149841,-0.036280,835523,44133,1149841,-0.036280,"863,447",Â±971
6,Del Norte,2022,26982,-0.253727,20045,128,26982,-0.253727,"21,024",Â±202
7,El Dorado,2022,189294,-0.222295,162883,4869,189294,-0.222295,"148,083",Â±450
8,Fresno,2022,1010177,-0.063326,688871,10390,1010177,-0.063326,"681,498",Â±965
9,Glenn,2022,28777,-0.253380,24773,130,28777,-0.253380,"19,652",Â±272
10,Humboldt,2022,134167,-0.232970,106882,2126,134167,-0.232970,"103,363",Â±537
11,Imperial,2022,180394,-0.224018,166477,770,180394,-0.224018,"120,477",Â±514
12,Inyo,2022,18916,-0.255289,19560,176,18916,-0.255289,"14,503",Â±184
13,Kern,2022,908186,-0.083078,602843,6880,908186,-0.083078,"606,433",Â±892
14,Kings,2022,151654,-0.229584,95204,886,151654,-0.229584,"104,565",Â±458
15,Lake,2022,67597,-0.245862,63526,600,67597,-0.245862,"51,589",Â±261
16,Lassen,2022,29809,-0.253180,23115,44,29809,-0.253180,"25,388",Â±192
17,Los Angeles,2022,9861493,1.650777,6650471,282343,9861493,1.650777,"7,455,744","Â±2,414"
18,Madera,2022,157040,-0.228541,113641,1241,157040,-0.228541,"107,270",Â±477
19,Marin,2022,255459,-0.209482,191793,15449,255459,-0.209482,"201,009",Â±484
20,Mariposa,2022,16988,-0.255663,17290,147,16988,-0.255663,"13,911",Â±180
21,Mendocino,2022,90227,-0.241480,81800,1346,90227,-0.241480,"69,062",Â±286
22,Merced,2022,284038,-0.203947,200238,2086,284038,-0.203947,"184,420",Â±670
23,Modoc,2022,8547,-0.257297,7632,10,8547,-0.257297,"6,775",Â±129
24,Mono,2022,12987,-0.256438,11671,144,12987,-0.256438,"10,362",Â±280
25,Monterey,2022,436033,-0.174512,319103,6379,436033,-0.174512,"304,052",Â±662
26,Napa,2022,135564,-0.232700,109871,4234,135564,-0.232700,"104,755",Â±327
27,Nevada,2022,101080,-0.239378,84769,1946,101080,-0.239378,"82,189",Â±305
28,Orange,2022,3158071,0.352624,2299018,134291,3158071,0.352624,"2,364,922","Â±1,700"
29,Placer,2022,407539,-0.180030,328962,12350,407539,-0.180030,"304,141",Â±517
30,Plumas,2022,19254,-0.255224,18889,117,19254,-0.255224,"15,806",Â±157
31,Riverside,2022,2427832,0.211210,1765291,47681,2427832,0.211210,"1,724,604","Â±1,482"
32,Sacramento,2022,1572254,0.045523,1107136,32416,1572254,0.045523,"1,157,469","Â±1,022"
33,San Benito,2022,65642,-0.246241,53803,1485,65642,-0.246241,"45,571",Â±249
34,San Bernardino,2022,2179845,0.163186,1568171,36094,2179845,0.163186,"1,519,829","Â±1,617"
35,San Diego,2022,3278730,0.375991,2446883,95024,3278730,0.375991,"2,450,295","Â±1,883"
36,San Francisco,2022,840575,-0.096171,386911,28011,840575,-0.096171,"717,653",Â±598
37,San Joaquin,2022,782163,-0.107483,556150,12961,782163,-0.107483,"537,612",Â±744
38,San Luis Obispo,2022,279439,-0.204838,222920,6929,279439,-0.204838,"211,147",Â±901
39,San Mateo,2022,742051,-0.115250,567346,43165,742051,-0.115250,"581,396",Â±719
40,Santa Barbara,2022,443074,-0.173149,325288,8983,443074,-0.173149,"313,937","Â±1,083"
41,Santa Clara,2022,1895752,0.108170,1289536,108243,1895752,0.108170,"1,439,457","Â±1,042"
42,Santa Cruz,2022,264495,-0.207732,215275,8169,264495,-0.207732,"199,855",Â±725
43,Shasta,2022,180206,-0.224055,132514,1516,180206,-0.224055,"136,969",Â±296
44,Sierra,2022,3205,-0.258332,3537,18,3205,-0.258332,"2,455",Â±162
45,Siskiyou,2022,43571,-0.250515,44395,241,43571,-0.250515,"33,523",Â±178
46,Solano,2022,447027,-0.172383,339309,9315,447027,-0.172383,"336,338",Â±518
47,Sonoma,2022,479654,-0.166065,397389,15055,479654,-0.166065,"376,840",Â±589
48,Stanislaus,2022,548215,-0.152788,403896,5345,548215,-0.152788,"380,499",Â±750
49,Sutter,2022,99153,-0.239751,74337,885,99153,-0.239751,"69,857",Â±297
50,Tehama,2022,64942,-0.246376,56998,288,64942,-0.246376,"47,938",Â±266
51,Trinity,2022,15971,-0.255860,11910,63,15971,-0.255860,"12,909",Â±137
52,Tulare,2022,474624,-0.167039,330357,2826,474624,-0.167039,"308,219",Â±638
53,Tuolumne,2022,54500,-0.248398,56034,495,54500,-0.248398,"44,006",Â±361
54,Ventura,2022,831531,-0.097922,658712,23713,831531,-0.097922,"619,665",Â±870
55,Yolo,2022,220176,-0.216314,149982,5077,220176,-0.216314,"151,121","Â±1,017"
56,Yuba,2022,82234,-0.243028,56190,689,82234,-0.243028,"56,509",Â±254